.mainCanvasContainer {
  width: 100%;
  height: 100%;
}

.mainCanvasContainer>canvas {
  position: absolute;
  height: 100%;
  aspect-ratio: 800 / 600;
}

.foregroundCanvas {
  z-index: 1;
}

.backgroundCanvas {
  z-index: 0;
}